.res{
text-align:center;
background-color: #0af0fc;
color:#000;
}

    .ui-menu a{
display:block;
height:50px;
width:50px;
background-position:top-left;


background-image:url(../images/sprites.png);
text-indent:-99999;
color:#FFF;
background-repeat:no-repeat;
margin-left:0;

}
.ui-home a:hover{
background-position:-50px 0;
}
