html{
background-color-grey;
}
.header {
  padding-top: 20px;
  padding-bottom:84px;
  color: #fff;
  background-image: linear-gradient(to bottom,#003f69, #b3bfc7)
}
.header h1{
margin-left:10px;
padding-left:30px;
margin-bottom:10px;
font-size:300%;
text-weight:bold;
text-shadow:4px 8px 3px #000;
}
.header h3{
margin-top:0;
margin-bottom:0;
margin-left:10px;
padding-left:30px;
text-weight:normal;
font-size:125%;
text-shadow:2px 3px 0px #000;}
.header p{
text-align:right;
text-weight:normal;
padding-right:20px;
margin-top:0;

}
.header h4{
margin-top:0;
font-size:86%;
margin-top:10px;
text-weight:normal;
text-shadow:1px 1px 0px #000;

}
.circular_image{
    float:left;
    margin-left:125px;
    margin-right:20px;
    margin-top: 20px;
    width: 225px;
    height: 225px;
    border-radius: 50%; /* Modified*/
    /*overflow:hidden;*/
    background-color: blue;
}
.container {
padding-top:20px;
  width: 100%;
  height:100%;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
 background-image: linear-gradient(to top,#003f69, #fff);
 position:relative;

}
.site-nav {
  position:absolute;
  top:10px;
  left:33%;
}

.site-nav ul {
  margin: 0;
  padding: 0px;
  width:100%;

}

.site-nav li {
  list-style: none;
  float: left;
  margin-right: 20px;
  padding-right:50px;
  padding-left:0;

}

.site-nav a {
  display: block;
  color: #fff;
  padding: 10px 20px;

    background-color:9f07eb;

  border-radius:5px;

}

.site-nav a:hover {
  background-color: #450863;
  color:#fff;
}




@keyframes  slideSpin{
 0% {transform:translateX(0%) scale(0.7)}


  50% {transform:translateX(150%) scale(0.5);
  }
  75% {transform:translateX(150%) rotate(180deg) scale(0.7);}
  100% {
    transform: translateX(300%) rotate(180deg)  scale(0.7);
  }
}


.star {
  -webkit-animation: slideSpin 3s infinite alternate forwards;
  animation: slideSpin 3s infinite alternate forwards;
  width: 25%;

  height: auto;
}
/* Media query */
@media screen and (max-width:480px){
  .container{
  padding-left:20px;
  padding-right:20px;
  }
  .hide{
  display:none;
  }
  }
  @media screen and (max-width:700px){
  .site-nav li{
  
  width:33.332%;
  margin-right:0;
  }
  .site-nav a{
  padding: 15px 0;
  padding-right:5px;
  padding-bottom:5px;
  text-align:center;
  margin:2px;
  }
  .hide{
  display:none;
  }
  }
  
  @media screen and (max-width:1200px){
  .site-nav a{
  padding: 20px 0;
  padding-right:15px;
  padding-bottom:10px;
  text-align:center;
  margin:5px;
  } 
.hide{
    display:none;
  }
  }
  
  @media screen and (max-width:2500px){
  .container{
  width:100%;
  }
  body{
  font-size:20px;
  }
  .site-nav li{
  font-size:140%;
  }
  }
  